// $c-accent: #b82166;
$c-background: #6bb8ee;
$c-accent: #194377;
$c-text: #FFF;
$c-neutral-one: #FFF;

$c-left: #d61d00;
$c-right: #005689;
$c-coalition:#009900;
$c-totalitarian:#999;



.area-left {
    fill: lighten($c-left, 2%);
}

.area-right {
    fill: lighten($c-right, 2%);
}

.axis path,
.axis line {
  fill: none;
  stroke: $c-neutral-one;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #ccc;
  stroke-dasharray: 2,3;
}

button {
  position: absolute;
  right: 50px;
  top: 10px;
}

.line {
  fill: none;
  stroke: url(#temperature-gradient);
  stroke-width: 1px;
}

.svg-overlay {
      fill: none;
      pointer-events: all;
    }
    
.focus circle {
  fill:  $c-accent;
  stroke: $c-accent;
}

.focus line {
  stroke-width: 1;
  stroke: $c-accent;
}

.infobox{
    
}

.infobox rect{
    fill: #FFF;
    opacity: 0.9;
}

.infobox line{
    stroke: $c-accent;
    stroke-width: 1px;
}

.infobox text {
  @include fs-textSans(4);
    color:$neutral-2;
}

.svg-overlay {
  fill: none;
  pointer-events: all;
}

text {
    font: 10px sans-serif;
}

