


.europe {
    fill: $neutral-4;//
}

.none-europe {
    fill: $neutral-2;
}

.left-wing {
    fill: $c-left;
    background-color: $c-left;
}

.right-wing {
    fill: $c-right;
    background-color: $c-right;
}

.totalitarian {
    fill: $c-totalitarian;
}

.coalition{
	fill:$c-coalition;
}

#shp_Tunisia, #shp_Algeria, #shp_Morocco, #shp_Turkey, #shp_Syria, #shp_Iraq, #shp_Iraqi-Kurdistan{
	display:none;
}