$c-background: #CCC;
$c-accent: #194377;
$c-text: #FFF;
$c-neutral-one: #FEFEFE;


.europe {
    fill: $c-background;
}

.none-europe {
    fill: $c-neutral-one;
}

.left-wing {
    fill: darken($c-left, 7%);
}

.right-wing {
    fill: darken($c-right, 7%);
}

.totalitarian {
    fill: $c-totalitarian;
}

.coalition{
	fill:$c-coalition;
}