


.europe {
    fill: $c-neutral-light;
}

.none-europe {
    fill: $c-neutral-light;
}

.left-wing {
    fill: $c-left;
    background-color: $c-left;
}

.right-wing {
    fill: $c-right;
    background-color: $c-right;
}

.totalitarian {
    fill: $c-totalitarian;
}

.coalition{
	fill:$c-coalition;
}